{% extends 'base.html' %}
{% load static%}

{% block 'head' %} 
    <meta name="description" content="Home">
{% endblock %}

{% block 'title' %}Index{% endblock %}

{% block 'body' %}
<div class="container">
    <h1>Seja bem-vindo a home</h1>
    <p> Hello World</p> 
    <hr style="background-color: gray;" />    

    {% if messages %}
        {% for message in messages %}
        <br>
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}
</div>    
{% endblock %}